@font-face {
  font-family: 'insta_font';
  font-style: normal;
  font-weight: 400;
  src: url("/public/font.otf") format('.opentype');
}

@font-face {
  font-family: 'insta_font';
  font-style: normal;
  font-weight: 700;
  src: url("/public/fontB.otf") format('opentype');
}


body, html {
    margin: 0;
    padding: 0;
    background-size: 100%;
    background-color: #000000;
}

.App {
  text-align: center;
  color: white;
  min-height: 100vh;
  padding: 0 2em;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: 4em;
  font-family: "insta_font";
}

.nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  background: #eee;
  padding: 1rem;
}
.active {
  font-weight: bold;
  color: tomato;
}

.welcome{
  background: linear-gradient(to right, orange, orange, rgb(255, 0, 157), rgb(255, 0, 242));
  background-clip: text;
  color: transparent;
}

